meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fundamentos sobre la contaminación por mercurio
meta(meta name="description" content="Bienvenidos a este itinerario de formación sobre el mercurio, tendremos la oportunidad de identificar nuevos conceptos acerca del mercurio, su impacto en la salud y el ambiente y el nivel de responsabilidad que tenemos sobre el mercurio. Para empezar, quiero contarles que en los últimos años se han liberado (al ambiente) aproximadamente 4400 toneladas de mercurio por año y emitido (a aguas y suelos) aproximadamente 8300 toneladas de mercurio provenientes de diferentes actividades naturales y humanas (UNEP, 2019). Colombia es el cuarto país que más emite mercurio y el primero per cápita en todo el mundo; tales emisiones significativas provienen principalmente del uso descontrolado del mercurio en la minería de oro artesanal y a pequeña escala (Davis, 2014). En esa medida, los retos que el país afronta en cuanto a la reducción de los impactos que el mercurio puede causar en la salud humana y el ambiente hacen necesario que diferentes actores nos involucremos y promovamos múltiples acciones ambientales, educativas, mineras, de salud y de género. ¿Está dispuesto/a a asumir este reto? Los invitamos a hacer parte del grupo que hará de Colombia, un territorio libre de mercurio.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")