h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Conceptos iniciales sobre el mercurio', 'main.html#page/conceptos/')
                    +navTemaItem('2', 'Impactos del mercurio en la salud', 'main.html#page/impactos/')
                    +navTemaItem('3', 'Roles y responsabilidades de las autoridades colombianas', 'main.html#page/roles/')