.container#conceptos

    .header-ecored
        h1 1. Conceptos iniciales sobre el mercurio

    br#terminologia

    .card
        .card-body

            .subtitulo-guion
                h2 1.1 Terminología Básica sobre el mercurio y su presencia en la historia de la humanidad
            
            .card-text
                p A partir de la historia anterior, podemos definir los primeros conceptos del mercurio, veamos algunos:

                .row.justify-content-center.my-5
                    .col-12.col-md-11
                        img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%")

                p.mt-5 Por otro lado, entendimos que el mercurio puede ser liberado por actividades humanas, también llamadas ANTROPOGÉNICAS, como por ejemplo cuando el mercurio era utilizado para la fabricación de los sombreros de Eduardo; esta actividad fue prohibida en 1940.

                .row.justify-content-center.my-5
                    .col-12.col-md-11
                        img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%")

                p.mt-5 Es importante que recuerden la palabra #[strong antropogénica], dado que se utiliza con frecuencia en la legislación relacionada con mercurio.

                p.mt-5 Finalmente, conocimos unas de las propiedades más importantes del comportamiento del mercurio: la #[strong bioacumulación], es decir la capacidad de concentrarse en seres vivos y provocar #[strong efectos tóxicos] de muy diverso carácter.
                
                p.mt-5 Un ejemplo de esto lo observamos en Lola, quien respiraba con frecuencia y por periodos prolongados, los vapores de mercurio provenientes de la actividad laboral de Eduardo.
                
                .row.justify-content-center.my-5
                    .col-12.col-md-11
                        img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 100%").my-4
                
                p.mt-5 Este mercurio se acumuló lentamente en el cuerpo de Lola, y le causó algunos efectos como: tos, inflamación de las encías, pérdida dental e infertilidad.

                .row.justify-content-center.my-5.mx-0.no-gutters.justify-content-center.my-5s
                    .col-12.col-md-11
                        img.img-fluid(src="assets/images/pages/img2.png", style="max-width: 100%")

    .card.my-4

        .card-body

            p.mt-5  #[strong Biomagnificación]: ¿cuáles animales observan? ¿qué sucede con los niveles de contaminación?

            p.mt-5 Los niveles de contaminación se trasladan entre especies a través de la cadena alimentaria.

            .row.justify-content-center.my-5
                .col-12.col-md-10
                    img.img-fluid(src="assets/images/pages/img3.svg", style="max-width: 100%")


            p.mt-5  #[strong Bioacumulación]: ¿cómo se comporta el nivel de contaminante en cada pez?

            p.mt-5 A medida que pasa el tiempo los niveles de contaminación aumentan, bien sea con la edad o el peso del pez.

            .row.justify-content-center.my-5
                .col-12.col-md-10
                    img.img-fluid(src="assets/images/pages/img4.svg", style="max-width: 100%") 

            p.mt-5 Para completar el proceso sobre conceptos básicos del mercurio es necesario leer la hoja de datos que se encuentra en el material complementario #[strong Información básica para estudiantes] planteado por: Agency for Toxic Substances and Disease Registry (ATSDR), 2018.

            section.my-5
                a(href="media/documentos/Anexo_2_Información_basica.pdf" target="_blank").media-link
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                    .media-link-title
                        p.text-small #[strong Anexo]. Información básica para estudiantes


    .card.my-4

        .card-body

            .subtitulo-guion.subtitulo-guion--dark.mb-5
                h2 Hechos históricos sobre el mercurio

            p.mt-5 Como lo hemos visto, el mercurio tiene propiedades únicas que lo han hecho muy útil en el desarrollo de la civilización humana. Los invitamos a ver la siguiente línea de tiempo sobre los hechos históricos más conocidos sobre el mercurio.
                
            .container.timeline__wrapper
                .row.justify-content-center.px-sm-2.px-md-5.py-5
                    .col-12.col-lg-11
                        section                      
                                
                            .timeline-card-wrapper.tl--borders.pt-5                          
                                    
                                .timeline-card
                                    .timeline-card__head
                                        h3 I. Primera aparición del mercurio
                                    .timeline-card__body
                                        .row
                                            .col-12.col-md-auto
                                                img(src="assets/images/pages/img3.png", alt="").img-fluid
                                            .col-12.col-md
                                                p.text-small El mercurio fue descubierto en el año 1500 antes de Cristo, este fue utilizado como pigmento rojo brillante por los pintores paleolíticos de hace 30.000 años para decorar cuevas en España y Francia. El Cinabrio cedía su mercurio simplemente al calentarlo en un crisol y el metal fascinaba a la gente por su propiedad de disolver el oro (Royal Society of Chemistry, 2020). 

                                .timeline-card
                                    .timeline-card__head
                                        h3 II. Imperio Inca, Perú 1200-1533
                                    .timeline-card__body
                                        .row
                                            .col-12.col-md-auto
                                                img(src="assets/images/pages/img4.png", alt="").img-fluid
                                            .col-12.col-md
                                                p.text-small Según los cronistas, los INCAS no permitieron a los indígenas extraer azogue o cinabrio por el peligro que implicaba el veneno que desprendía, pudiendo causar hasta la muerte; no obstante, cuando se excava una tumba Inca, se encuentran restos de polvo de cinabrio, el cual se esparcía durante los ritos de enterramiento, con el objeto de que causará el envenenamiento de quienes la profanarán (la inhalación del aire resulta altamente tóxica) (Vetter, 2007). 

                                .timeline-card
                                    .timeline-card__head
                                        h3 III. Nueva España, México 1521
                                    .timeline-card__body
                                        .row
                                            .col-12.col-md-auto
                                                img(src="assets/images/pages/img5.png", alt="").img-fluid
                                            .col-12.col-md
                                                p.text-small El mercurio en el proceso de la colonización española en México.
                                                p.text-small.mt-4 Algunos escritos de la época de la colonización española en México evidencian la presencia de una enfermedad extraña en los indígenas que eran sometidos a la minería de oro: “el minero con el contacto y manejo del azogue (palabra que se usa para referirse al mercurio) se pone trémulo y casi inservible … si algún humo de aquél proveniente del azogue llega a ellos, se mueren, quedan muy maltratados o pierden los dientes” (West, 1949).

                                .timeline-card
                                    .timeline-card__head
                                        h3 IV. Potosí, Bolivia 1571
                                    .timeline-card__body
                                        .row
                                            .col-12.col-md-auto
                                                img(src="assets/images/pages/img6.png", alt="").img-fluid
                                            .col-12.col-md
                                                p.text-small La explotación minera de Potosí se constituyó en la máxima preocupación del Virrey don Francisco de Toledo, quien la consideró la fuente de ingresos de la hacienda de su majestad. Para ello, diseñó sus reformas, que consolidaban el gobierno y disciplinamiento indígena y organizaban los repartimientos para proveer al centro minero de un flujo constante de mano de obra. Más allá de ello, el abastecimiento de mercurio constituyó otro de los esfuerzos organizativos del virrey, quien conocía la dependencia de la nueva metodología de amalgamación del flujo sostenido del azogue (Presta, 2105).

                                .timeline-card
                                    .timeline-card__head
                                        h3 V. Minería de cinabrio en Colombia 1800
                                    .timeline-card__body
                                        .row
                                            .col-12.col-md-auto
                                                img(src="assets/images/pages/img7.png", alt="").img-fluid
                                            .col-12.col-md
                                                p.text-small Desde el año 1800 se identificaron los siguientes yacimientos de mercurio en Colombia: Caldas (Aránzazu), Nariño (Santa Cruz, La Unión, La Cruz, Samaniego y Santa Bárbara), Valle del Cauca (Sevilla, Tuluá y Bugalagrande), Tolima (Cajamarca y Rovira), Quindío (Calarcá), y Boyacá (Nobsa).  Sin embargo, la literatura relaciona la explotación de dos de ellas por las condiciones de calidad y cantidad: Aránzazu, y Cajamarca. Las cantidades de mercurio de esta actividad minera abasteció la fabricación de luminarias para el alumbrado público, la planta colombiana de soda y la industria química nacional.
                                                p.text-small.mt-4 Las explotaciones de la mina en Aránzazu se desarrollaron en el período 1957 -1987, su cierre se debe a problemas de salud de los empleados; la de Cajamara operó entre 1887 y 1923 (UPME, 2014).

                                .timeline-card
                                    .timeline-card__head
                                        h3 VI. Francia y Estados Unidos 1812
                                    .timeline-card__body
                                        .row
                                            .col-12.col-md-auto
                                                img(src="assets/images/pages/img8.png", alt="").img-fluid
                                            .col-12.col-md
                                                p.text-small Por entonces, era frecuente dar a los niños unos "polvos dentales" (del inglés teething powders) durante el periodo de crecimiento de sus dientes, ya que estos les calmaban y se consideraba beneficioso para ellos. También se les solían asociar otras bondades como mejorar el tránsito intestinal o evitar los parásitos. Estos polvos fueron usados desde 1812 y contenían cloruro de mercurio (calomel).
                                                p.text-small.mt-4 Sin embargo, el uso de estos polvos no era beneficioso, algunos periódicos publicaron en sus titulares: “El mercurio se consideró una cura hasta que nos mató”. Durante más de 100 años se presentó en los niños una epidemia caracterizada por: manos y pies rosados, insomnio, dolor en las extremidades, sudoración, descamación de la piel, aflojamiento y/o pérdida de dientes. Nace así la Acrodinia o enfermedad de Feer, enfermedad Rosada o enfermedad de Swift (Echeverria, 1931).

                                .timeline-card
                                    .timeline-card__head
                                        h3 VII. Amalgamas dentales 1819 y 1826
                                    .timeline-card__body
                                        .row
                                            .col-12.col-md-auto
                                                img(src="assets/images/pages/img9.png", alt="").img-fluid
                                            .col-12.col-md
                                                p.text-small #[strong 1819]: El químico inglés Bell inventó un relleno de amalgama dental a base de mercurio, con el objetivo de restaurar los dientes fracturados o con problemas de caries. 
                                                p.text-small.mt-4 #[strong 1826]: El relleno de mercurio de la amalgama dental se utilizó por primera vez en Inglaterra y Francia.

                                .timeline-card
                                    .timeline-card__head
                                        h3 VIII. Francia, Inglaterra y Estados Unidos 1849
                                    .timeline-card__body
                                        .row
                                            .col-12.col-md-auto
                                                img(src="assets/images/pages/img27.png", alt="").img-fluid
                                            .col-12.col-md
                                                p.text-small En el siglo 19, los sombrereros comenzaron a tratar la piel del castor con mercurio para suavizarla, y así elaborar los sombreros.
                                                p.text-small.mt-4 La primera descripción clínica de intoxicación por mercurio en sombrereros fue publicada en 1860, entre los síntomas más tempranos se encontraban las parestesias (hormigueos), y entre los casos más avanzados la ataxia, reducción del campo visual, disartria, alucinaciones y otros tantos.
                                                p.text-small.mt-4 Primero en Francia e Inglaterra y mucho más tarde en Estados Unidos, fue prohibido el uso de nitrato de mercurio en la industria de los sombreros. Para la mayor parte de la gente, permaneció durante mucho tiempo como una enfermedad de origen desconocido, y a los afectados simplemente se les calificaba como dementes o locos (Freeman, 1860).

                                .timeline-card
                                    .timeline-card__head
                                        h3 IX. Minamata, Japón 1932
                                    .timeline-card__body
                                        .row
                                            .col-12.col-md-auto
                                                img(src="assets/images/pages/img11.png", alt="").img-fluid
                                            .col-12.col-md
                                                p.text-small La bahía del Minamata hace parte de la ciudad costera del mismo nombre, localizada en la ciudad de Kumamoto, isla de Kyushu de Japón, en la cual operaba la compañía Chisso Corporation, que entre 1932 y 1968 vertieron en esa bahía unas 27 toneladas de compuestos de mercurio, utilizado en la producción de acetaldehído.
                                                p.text-small.mt-4 Resultado de ese vertimiento: más de 2.500 personas empezaron a sufrir de un desorden neurológico llamado la Enfermedad de Minamata (Prefectura de Kumamoto, 2019).

                                .timeline-card
                                    .timeline-card__head
                                        h3 X. Desastre del grano envenenado
                                    .timeline-card__body
                                        .row
                                            .col-12.col-md-auto
                                                img(src="assets/images/pages/img12.png", alt="").img-fluid
                                            .col-12.col-md
                                                p.text-small Situación de crisis de salud, producida por un cargamento de semillas de trigo que habían sido tratadas con mercurio orgánico como fungicida (Bakir, y otros, 1973).
                                                ul.mt-4
                                                    li.mb-3.text-small Irak 1956. En Irak, las víctimas fueron agricultores y sus familiares. La epidemia pudo afectar a unas 50.000 personas, aunque sólo 6.530 fueron admitidas en hospital como envenenados. 459 muertes en los hospitales fueron atribuidas al envenenamiento por mercurio. 
                                                    li.mb-3.text-small Guatemala 1963. En Guatemala, fueron reportadas 45 personas afectadas, y 20 muertos. Inicialmente fueron considerados como pacientes con encefalitis, posteriormente se determinó que el agente causante fueron las semillas de trigo tratadas con metilmercurio
                                                    li.text-small Pakistán 1969. Eventos similares a los ocurridos en Irak fueron reportados en Pakistán, las víctimas fueron agricultores y sus familiares.
                                
                                .timeline-card
                                    .timeline-card__head
                                        h3 XI. Canadá - Grassy Narrows, 1975
                                    .timeline-card__body
                                        .row
                                            .col-12.col-md-auto
                                                img(src="assets/images/pages/img13.png", alt="").img-fluid
                                            .col-12.col-md
                                                p.text-small Generación tras generación de la comunidad indígena de Grassy Narrows, han visto su crisis dolorosamente prolongada. Han pasado casi 50 años desde la revelación de que su pescado había sido envenenado por toneladas de mercurio vertido en su sistema fluvial por una fábrica de papel propiedad de Reed Paper Ltd., en la ciudad de Dryden, en el norte de Ontario. 
                                                p.text-small Estudios recientes de la científica Donna Mergler, con sede en Montreal, han encontrado pruebas contundentes, de análisis de sangre del cordón umbilical y encuestas comunitarias, que confirman que el daño por mercurio persiste de madres a hijos. Un estudio halló que los niños de Grassy Narrows tienen cuatro veces más probabilidades de sufrir problemas de aprendizaje o trastornos del sistema nervioso si sus madres hubieran consumido pescado regularmente durante sus embarazos (The Globe and Mail, 2019).

                                .timeline-card
                                    .timeline-card__head
                                        h3 XII. Origen del convenio de Minamata 2001 (PNUMA,2017)
                                    .timeline-card__body
                                        .row
                                            .col-12.col-md-auto
                                                img(src="assets/images/pages/img14.png", alt="").img-fluid
                                            .col-12.col-md
                                                ul
                                                    li.mb-3.text-small #[strong Entre el 2001 y el 2013] se discutió la necesidad y el marco regulatorio para proteger la salud humana y el medio ambiente de las emisiones antropogénicas y las liberaciones de mercurio y compuestos de mercurio.
                                                    li.mb-3.text-small
                                                        b El 10 de octubre de 2013
                                                        | , se firmó el convenio de Minamata para cumplir este objetivo.
                                                    li.text-small
                                                        b 2018
                                                        | . Se aprueba la aplicación del “Convenio de Minamata sobre el mercurio” en Colombia por medio de la Ley 1892 de 2018.

    section.my-6
        .subtitulo-guion.subtitulo-guion
            h2#actividad-1 Actividad didáctica: Enseñanza de historias del mercurio.
        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-4
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", alt="").img-fluid
            
            .col-12.col-md-8
                //hr.line-100.bg-orange
                .px-2
                    p Lo invitamos a realizar la siguiente actividad didáctica que le ayudará a afianzar su proceso de aprendizaje.  

                    p Para poder apropiarnos de algunas enseñanzas que nos dejan estas historias, a continuación encuentra una actividad interactiva sobre la historia del mercurio.    

                    a(href="media/actividades/actividad1/index.html" target="_blank" class="btn btn-colour-Orange").mt-5 Iniciar actividad   

        hr.line-100.bg-orange.my-5

    section.my-6
        .subtitulo-guion.subtitulo-guion
            h2#actividad-2 Actividad didáctica: Procesos y productos con mercurio añadido.
        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-4
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", alt="").img-fluid
            
            .col-12.col-md-8
                //hr.line-100.bg-orange
                .px-2
                    p Acabamos de ver algunos #[strong usos del mercurio] que fueron surgiendo en la historia de la humanidad, sin embargo, existen otros que exploraremos a continuación, por ello es necesario que realice la actividad de aprendizaje #[strong Procesos y Productos] en donde encontrará unas preguntas de identificación de productos y procesos con mercurio añadido.    

                    a(href="media/actividades/actividad2/index.html" target="_blank" class="btn btn-colour-Orange").mt-5 Iniciar actividad   

        hr.line-100.bg-orange.my-5


    .card
        .card-body
            .subtitulo-guion.subtitulo-guion--dark.mb-5.my-3
                h2 ¿Qué cree que tienen en común los elementos vistos anteriormente? ¿y qué es diferente?

            p.text-center.my-6
                img.img-fluid(src="assets/images/pages/img5.svg", style="max-width: 100%")

            p.mt-5 El mercurio, así como 
                b otros elementos químicos 
                | puede presentarse en diversas formas dependiendo de las alianzas que haga con otros componentes. Es así que estos compuestos de mercurio 
                b le añaden, le restan o le cambian algunas propiedades
                | , facilitando su aparición en diversas aplicaciones.

            p.mt-5 Cuando hablamos del mercurio en su estado 
                b simple o más puro
                | , hablamos de mercurio elemental o metálico, utilizado en los termómetros de vidrio o tradicionales y su símbolo se conoce como 
                b Hg
                | .

            .row.justify-content-center.my-5
                .col-12.col-md-10
                    img.img-fluid(src="assets/images/pages/img15.png", style="max-width: 100%")

            p.mt-5 También, tenemos el 
                b mercurio orgánico
                | , uno de los compuestos más conocidos dado que se puede encontrar en peces en su forma de metilmercurio como MeHg o [CH3Hg]+
            
            p.mt-5 Finalmente, el tercer tipo de mercurio es: 
                b el inorgánico 
                | conocido como sales de mercurio y por lo general son cristales o un polvo de color blanco. Lo encontramos en algunas cremas aclaradoras y otros productos como: sulfuro de mercurio (HgS) o el óxido de mercurio (HgO).

            .row.justify-content-center.my-5
                .col-12.col-md-10
                    img.img-fluid(src="assets/images/pages/img16.png", style="max-width: 100%")

    br#introduccion1 

    .card
        .card-body

            .subtitulo-guion
                h2 1.2 Introducción al comportamiento ambiental del mercurio

            p.mt-2 ¿Cómo llega el mercurio al ambiente? Seguramente muchas ideas claras vienen a su mente al tratar de responder esta pregunta, basta con pensar que es un metal que se encuentra de manera natural en la tierra, para entender que naturalmente puede ser introducido al ambiente.

            p.mt-5 Veamos tres ideas claves sobre esto: 

            ul.bg-color-dark.mt-3
                li 
                    span #[strong Idea 1]. El mercurio puede ser emitido y liberado al ambiente.
                li 
                    span #[strong Idea 2]. A través de fuentes naturales y antropogénicas.
                li 
                    span #[strong Idea 3]. Que pueden ser o no intencionales.

            .row.justify-content-center
                .col-12.col-md-10

                    .row.justify-content-center.align-items-start.mt-5.bg-color2
                        .col-12.col-md-auto
                            img.img-fluid(src="assets/images/pages/img6.svg", style="max-width: 100%").mt-4 
                        .col-12.col-md
                            .p-4
                                h3 Idea 1
                                p El mercurio puede ser emitido y liberado al ambiente.
                                p.my-3
                                    b Emisión. 
                                p La Emisión es una descarga de una sustancia o elemento al aire, en estado sólido, líquido o gaseoso, o en alguna combinación de estos, provenientes de una fuente fija o móvil. En este caso, es la descarga del mercurio al aire.
                                p.my-3
                                    b Liberación.
                                p En el marco del convenio de Minamata, se interpretó a las liberaciones como las descargas del mercurio en sus diferentes formas al agua o al suelo.

                    .row.justify-content-center.align-items-start.mt-6.bg-color3
                        .col-12.col-md-auto
                            img.img-fluid(src="assets/images/pages/img7.svg", style="max-width: 100%").mt-4

                        .col-12.col-md
                            .p-4
                                h3 Idea 2
                                p A través de fuentes naturales y antropogénicas.
                                p.my-4
                                    b Fuentes naturales. 
                                p Podemos encontrar mercurio en el ambiente debido a algunas fuentes naturales que lo emiten, como la actividad volcánica, la quema de biomasa (incendios forestales), los yacimientos naturales de mercurio (como el de Almadén, España) y el ciclo en general del suelo y la vegetación.
                                p.my-4
                                    b Fuentes antropogénicas.
                                p Mientras que, en otros casos, el mercurio es emitido o liberado al ambiente por causa de actividades humanas, como son: el inadecuado manejo de residuos de productos con contenido de mercurio, la minería de oro que utiliza mercurio (como la artesanal), la producción de cemento, las plantas de producción de energía a partir de carbón, y entre otras.

                    .row.justify-content-center.align-items-start.mt-6.bg-color4
                        .col-12.col-md-auto
                            img.img-fluid(src="assets/images/pages/img8.svg", style="max-width: 100%").mt-4 
                        .col-12.col-md
                            .p-4
                                h3 Idea 3
                                p Que pueden ser o no intencionales.
                                p.my-4
                                    b Fuentes intencionales. 
                                p Son aquellas en las que se utiliza este metal con el fin de desarrollar un proceso productivo o producir un producto con mercurio añadido.
                                p.my-4
                                    b Fuentes no intencionales.
                                p Son aquellas en las que se realiza una emisión y liberación por fuentes naturales o por presencia del metal como contaminante de materias primas en una actividad económica.


            p.my-5 Con estos conceptos claros, resolvamos a continuación: #[strong ¿Cómo llega el mercurio al ambiente?].

            p.my-5 Para dar respuesta a esto,  veamos a continuación el siguiente video.

            .row.mb-6.justify-content-center
                .col-12.col-md-10
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bWilemeNEUY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')



            p.my-5
                b El ciclo del mercurio en el ambiente 
                | se puede definir como su flujo continuo entre el aire, el agua y el suelo, lo cual se ve afectado por procesos físicos, químicos y biológicos. Este ciclo es continuo y repetitivo, ya que el mercurio no se puede destruir; sin embargo, podemos: reducir, controlar y eliminar su uso para contribuir a la protección del ambiente.

            .row.justify-content-center.my-5
                .col-12.col-md-6
                    img.img-fluid(src="assets/images/pages/img19.svg")


            p.mt-6.mb-5 Para profundizar sobre los procesos que se dan en aire, agua y suelo, los invitamos a ver el siguiente vídeo: #[strong ¿Qué sucede con el mercurio en el aire, agua y suelo?].


            .row.mb-6.justify-content-center
                .col-12.col-md-10
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HuptvgvuVRY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    br#panorama

    .card

        .card-body

            .subtitulo-guion
                h2 1.3 Panorama de la contaminación por mercurio: cifras y países

            .row.justify-content-center.my-5
                .col-12.col-md-10
                    img.img-fluid(src="assets/images/pages/img19.png").mb-3

            p.mt-5 Estas cifras nos indican que el mercurio utilizado en la minería de oro artesanal y a pequeña escala es uno de los principales responsables de la contaminación por mercurio en el mundo.

            .row.justify-content-center.my-5
                .col-12.col-md-10

                    .header-arrow
                        h3.text-center Emisiones mundiales de mercurio por actividad


                    section.p-5.mt-0.mb-5(style='background-color: rgba(68, 171, 180, 0.25);')
                        .row.justify-content-center.my-5
                            .col-12.col-md-11
                                img.img-fluid(src="assets/images/pages/img20.png").mb-3



            p.mt-3 Sin embargo, otras actividades humanas componen el 60% de emisiones restantes, como: la incineración de carbón, la producción de cobre y cemento, y el inadecuado manejo de residuos de productos con mercurio.
            p.mt-4 Veamos los países que componen los 8 mayores emisores de mercurio en el mundo y las actividades de dónde provienen esas emisiones.
            p.mt-4
                small
                    b Fuente. 
                    | Cifras presentadas por ONU Medio Ambiente, 2019. Global Mercury Assessment 2018.

            .subtitulo-guion.subtitulo-guion--dark.mb-5.mt-5
                h3 Emisiones de mercurio por país y actividad


            .row.justify-content-center
                .col-12.col-md-10

                    figure.bg-color
                        .p-5
                            img.img-fluid(src="assets/images/pages/img9.svg")

                    .table-responsive
                        table.table.table-striped.m-0
                            thead.thead-dark
                                tr
                                    th.table1 Países
                                    th.table1 Minería de oro artesanal
                                    th.table1 Combustión de carbón
                                    th.table1 Metales no ferrosos
                                    th.table1 Producción de cemento
                                    th.table1 Residuos de productos
                                    th.table1 Otros
                            tbody
                                tr
                                    td.table2 EEUU
                                    td.table2 -
                                    td.table2 41,165
                                    td.table2 2,733
                                    td.table2 1,848
                                    td.table2 4,189
                                    td.table2 3,688
                                tr
                                    td.table1 Ghana
                                    td.table1 52,5
                                    td.table1 4,73
                                    td.table1 0
                                    td.table1 0
                                    td.table1 0
                                    td.table1 0
                                tr
                                    td.table2 Rusia
                                    td.table2 5,5
                                    td.table2 9,208
                                    td.table2 22,545
                                    td.table2 1,279
                                    td.table2 5,089
                                    td.table2 14,858
                                tr
                                    td.table1 Sudáfrica
                                    td.table1 3,75
                                    td.table1 42,064
                                    td.table1 12,326
                                    td.table1 975
                                    td.table1 998
                                    td.table1 290
                                tr
                                    td.table2 Colombia
                                    td.table2 60
                                    td.table2 460
                                    td.table2 1,894
                                    td.table2 696
                                    td.table2 639
                                    td.table2 14
                                tr
                                    td.table1 Indonesia
                                    td.table1 58,333
                                    td.table1 6,421
                                    td.table1 7,846
                                    td.table1 2,784
                                    td.table1 2,295
                                    td.table1 1,936
                                tr
                                    td.table2 India
                                    td.table2 1,125
                                    td.table2 89,444
                                    td.table2 22,536
                                    td.table2 13,421
                                    td.table2 13,692
                                    td.table2 0
                                tr
                                    td.table1 China
                                    td.table1 166,688
                                    td.table1 179,557
                                    td.table1 94,79
                                    td.table1 22,498
                                    td.table1 22,797
                                    td.table1 0

                       
        
            p.my-5 Observe la siguiente conversación para profundizar sobre el panorama en Colombia:

            .row.justify-content-center
                .col-12.col-md-11
                    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                        ol.carousel-indicators
                            li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                            li(data-target='#carouselExampleIndicators', data-slide-to='1')
                            li(data-target='#carouselExampleIndicators', data-slide-to='2')
                            li(data-target='#carouselExampleIndicators', data-slide-to='3')
                            li(data-target='#carouselExampleIndicators', data-slide-to='4')
                        .carousel-inner
                            .carousel-item.active
                                img.d-block.w-100(src='assets/images/pages/img10.svg', alt='0')
                            .carousel-item
                                img.d-block.w-100(src='assets/images/pages/img11.svg', alt='1')
                            .carousel-item
                                img.d-block.w-100(src='assets/images/pages/img12.svg', alt='2')
                            .carousel-item
                                img.d-block.w-100(src='assets/images/pages/img13.svg', alt='3')
                            .carousel-item
                                img.d-block.w-100(src='assets/images/pages/img14.svg', alt='4')                          
                                                                                        
                        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next

                    p.mt-2.text-center <i><small>Haga clic en las flechas de la imagen para avanzar</small></i>

            p.my-5 Veamos lo que dice la Organización de Naciones Unidas:

            .quote.mb-6
                .quote__bar   
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_01.svg")
                    .quote__bar__hr
                .quote__text
                    p.mb-0 En un estudio realizado por el programa de Naciones Unidas para el Medio Ambiente (PNUMA), titulado #[i Mercurio: es tiempo de actuar], presentado en Nairobi, se pone de manifiesto que las emisiones de mercurio se han duplicado desde 2005, lo que supone una gran amenaza para la salud de hasta 15 millones de personas, principalmente en África, Asia y América del Sur, de los que al menos tres millones son mujeres y niños. (PNUMA, 2013)
                .quote__bar 
                    .quote__bar__hr
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg")