.container#terminologia

    .header-ecored

        h1 1. Terminología Básica sobre el mercurio y su presencia en la historia de la humanidad

    .jumbotron.bg-white

        .row

            .col-12

                p A partir de la historia anterior, podemos definir los primeros conceptos del mercurio, veamos algunos:

                img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%").mb-4

                p Por otro lado, entendimos que el mercurio puede ser liberado por actividades humanas, también llamadas ANTROPOGÉNICAS, como por ejemplo cuando el mercurio era utilizado para la fabricación de los sombreros de Eduardo; esta actividad fue prohibida en 1940.

                img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%").mb-4

                p.m-0 Es importante que recuerden la palabra <
                    spam antropogénica
                    | >, dado que se utiliza con frecuencia en la legislación relacionada con mercurio.
    
    .jumbotron.bg-white

        .row

            .col-12

                p Finalmente, conocimos unas de las propiedades más importantes del comportamiento del mercurio: la 
                    b BIOACUMULACIÓN
                    | , es decir la capacidad de concentrarse en seres vivos y provocar 
                    b EFECTOS TÓXICOS 
                    | de muy diverso carácter.

                p Un ejemplo de esto lo observamos en Lola, quien respiraba con frecuencia y por periodos prolongados, los vapores de mercurio provenientes de la actividad laboral de Eduardo.

                img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 100%").mb-4

                p.m-0 Este mercurio se acumuló lentamente en el cuerpo de Lola, y le causó algunos efectos como: tos, inflamación de las encías, pérdida dental e infertilidad
    
    .card

        img.img-fluid(src="assets/images/pages/img2.png", style="max-width: 100%")

        .card-body

            .card-text

                .row

                    .col-12

                        p.mb-3
                            b Biomagnificación: 
                            | ¿cuáles animales observan? ¿qué sucede con los niveles de contaminación?

                        p.mb-4 Los niveles de contaminación se trasladan entre especies a través de la cadena alimentaria.

                        img.img-fluid(src="assets/images/pages/img3.svg", style="max-width: 100%").mb-4

                        p.mb-3
                            b Bioacumulación: 
                            | ¿cómo se comporta el nivel de contaminante en cada pez?

                        p.mb-4 A medida que pasa el tiempo los niveles de contaminación aumentan, bien sea con la edad o el peso del pez.

                        img.img-fluid(src="assets/images/pages/img4.svg", style="max-width: 100%").mb-4

                        p.mb-4 Para completar el proceso sobre conceptos básicos del mercurio es necesario leer la hoja de datos que se encuentra en el material complemtario 
                            b Información básica para estudiantes 
                            | planteado por: (Agency for Toxic Substances and Disease Registry (ATSDR), 2018.

                .row.d-flex.justify-content-center

                    .col-auto

                        section
                            a(href="media/documentos/Anexo_2_Información_basica.pdf" target="_blank").media-link
                                img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                                .media-link-title
                                    p
                                        b Anexo 1. 
                                    p Información básica para estudiantes

    br#hechos
    
    .subtitulo-guion

        h2 Hechos históricos sobre el mercurio

    .card.mb-0

        .card-body

            .card-text

                .row

                    .col-12

                        p Como lo hemos visto, el mercurio tiene propiedades únicas que lo han hecho muy útil en el desarrollo de la civilización humana. Los invitamos a ver la siguiente línea de tiempo sobre los hechos históricos más conocidos sobre el mercurio.

        .row.mx-0.bg-color

            .page
                .timeline
                    .timeline__group
                        .timeline__box
                            .timeline__date
                                span.timeline__day 1
                            .timeline__post
                                .timeline__content
                                    .row.d-flex.align-items-start
                                        .col-2
                                            img.img-fluid(src="assets/images/pages/img3.png", style="max-width: 100%")
                                        .col-10
                                            p
                                                b Primera aparición del mercurio
                                            p El mercurio fue descubierto en el año 1500 antes de Cristo, este fue utilizado como pigmento rojo brillante por los pintores paleolíticos de hace 30.000 años para decorar cuevas en España y Francia. El Cinabrio cedía su mercurio simplemente al calentarlo en un crisol y el metal fascinaba a la gente por su propiedad de disolver el oro (Royal Society of Chemistry, 2020). 
                    .timeline__group
                        .timeline__box
                            .timeline__date
                                span.timeline__day 2
                            .timeline__post
                                .timeline__content
                                    .row.d-flex.align-items-start
                                        .col-2
                                            img.img-fluid(src="assets/images/pages/img4.png", style="max-width: 100%")
                                        .col-10
                                            p
                                                b Imperio Inca, Perú 1200-1533
                                            p Según los cronistas, LOS INCAS no permitieron a los indígenas extraer azogue o cinabrio por el peligro que implicaba el veneno que desprendía, pudiendo causar hasta la muerte; no obstante, cuando se excava una tumba Inca, se encuentran restos de polvo de cinabrio, el cual se esparcía durante los ritos de enterramiento, con el objeto de que causará el envenenamiento de quienes la profanarán (la inhalación del aire resulta altamente tóxica) (Vetter, 2007). 
                    .timeline__group
                        .timeline__box
                            .timeline__date
                                span.timeline__day 3
                            .timeline__post
                                .timeline__content
                                    .row.d-flex.align-items-start
                                        .col-2
                                            img.img-fluid(src="assets/images/pages/img4.png", style="max-width: 100%")
                                        .col-10
                                            p
                                                b Nueva España, México 1521
                                            p El mercurio en el proceso de la colonización española en México.
                                            p Algunos escritos de la época de la colonización española en México evidencian la presencia de una enfermedad extraña en los indígenas que eran sometidos a la minería de oro: “el minero con el contacto y manejo del azogue (palabra que se usa para referirse al mercurio) se pone trémulo y casi inservible … si algún humo de aquél proveniente del azogue llega a ellos, se mueren, quedan muy maltratados o pierden los dientes” (West, 1949).
                    .timeline__group
                        .timeline__box
                            .timeline__date
                                span.timeline__day 4
                            .timeline__post
                                .timeline__content
                                    .row.d-flex.align-items-start
                                        .col-2
                                            img.img-fluid(src="assets/images/pages/img6.png", style="max-width: 100%")
                                        .col-10
                                            p
                                                b Potosí, Bolivia 1571
                                            p La explotación minera de Potosí se constituyó en la máxima preocupación del Virrey don Francisco de Toledo, quien la consideró la fuente de ingresos de la hacienda de su majestad. Para ello, diseñó sus reformas, que consolidaban el gobierno y disciplinamiento indígena y organizaban los repartimientos para proveer al centro minero de un flujo constante de mano de obra. Más allá de ello, el abastecimiento de mercurio constituyó otro de los esfuerzos organizativos del virrey, quien conocía la dependencia de la nueva metodología de amalgamación del flujo sostenido del azogue (Presta, 2105).
                    .timeline__group
                        .timeline__box
                            .timeline__date
                                span.timeline__day 5
                            .timeline__post
                                .timeline__content
                                    .row.d-flex.align-items-start
                                        .col-2
                                            img.img-fluid(src="assets/images/pages/img7.png", style="max-width: 100%")
                                        .col-10
                                            p
                                                b Minería de cinabrio en Colombia 1800
                                            p Desde el año 1800 se identificaron los siguientes yacimientos de mercurio en Colombia: Caldas (Aránzazu), Nariño (Santa Cruz, La Unión, La Cruz, Samaniego y Santa Bárbara), Valle del Cauca (Sevilla, Tuluá y Bugalagrande), Tolima (Cajamarca y Rovira), Quindío (Calarcá), y Boyacá (Nobsa).  Sin embargo, la literatura relaciona la explotación de dos de ellas por las condiciones de calidad y cantidad: Aránzazu, y Cajamarca. Las cantidades de mercurio de esta actividad minera abasteció la fabricación de luminarias para el alumbrado público, la planta colombiana de soda y la industria química nacional.
                                            p Las explotaciones de la mina en Aránzazu se desarrollaron en el período 1957 -1987, su cierre se debe a problemas de salud de los empleados; la de Cajamara operó entre 1887 y 1923 (UPME, 2014).
                    .timeline__group
                        .timeline__box
                            .timeline__date
                                span.timeline__day 6
                            .timeline__post
                                .timeline__content
                                    .row.d-flex.align-items-start
                                        .col-2
                                            img.img-fluid(src="assets/images/pages/img8.png", style="max-width: 100%")
                                        .col-10
                                            p
                                                b Francia y Estados Unidos 1812
                                            p Por entonces, era frecuente dar a los niños unos "polvos dentales" (del inglés teething powders) durante el periodo de crecimiento de sus dientes, ya que estos les calmaban y se consideraba beneficioso para ellos. También se les solían asociar otras bondades como mejorar el tránsito intestinal o evitar los parásitos. Estos polvos fueron usados desde 1812 y contenían cloruro de mercurio (calomel).
                                            p Sin embargo, el uso de estos polvos no era beneficioso, algunos periódicos publicaron en sus titulares: “El mercurio se consideró una cura hasta que nos mató”. Durante más de 100 años se presentó en los niños una epidemia caracterizada por: manos y pies rosados, insomnio, dolor en las extremidades, sudoración, descamación de la piel, aflojamiento y/o pérdida de dientes. Nace así la Acrodinia o enfermedad de Feer, enfermedad Rosada o enfermedad de Swift (Echeverria, 1931).
                    .timeline__group
                        .timeline__box
                            .timeline__date
                                span.timeline__day 7
                            .timeline__post
                                .timeline__content
                                    .row.d-flex.align-items-start
                                        .col-2
                                            img.img-fluid(src="assets/images/pages/img9.png", style="max-width: 100%")
                                        .col-10
                                            p
                                                b Amalgamas dentales 1819 y 1826
                                            p 1819: El químico inglés Bell inventó un relleno de amalgama dental a base de mercurio, con el objetivo de restaurar los dientes fracturados o con problemas de caries. 
                                            p 1826: El relleno de mercurio de la amalgama dental se utilizó por primera vez en Inglaterra y Francia.
                    .timeline__group
                        .timeline__box
                            .timeline__date
                                span.timeline__day 8
                            .timeline__post
                                .timeline__content
                                    .row.d-flex.align-items-start
                                        .col-2
                                            img.img-fluid(src="assets/images/pages/img10.png", style="max-width: 100%")
                                        .col-10
                                            p
                                                b Francia, Inglaterra y Estados Unidos 1849
                                            p En el siglo 19, los sombrereros comenzaron a tratar la piel del castor con mercurio para suavizarla, y así elaborar los sombreros.
                                            p La primera descripción clínica de intoxicación por mercurio en sombrereros fue publicada en 1860, entre los síntomas más tempranos se encontraban las parestesias (hormigueos), y entre los casos más avanzados la ataxia, reducción del campo visual, disartria, alucinaciones y otros tantos.
                                            p Primero en Francia e Inglaterra y mucho más tarde en Estados Unidos, fue prohibido el uso de nitrato de mercurio en la industria de los sombreros. Para la mayor parte de la gente, permaneció durante mucho tiempo como una enfermedad de origen desconocido, y a los afectados simplemente se les calificaba como dementes o locos (Freeman, 1860).
                    .timeline__group
                        .timeline__box
                            .timeline__date
                                span.timeline__day 9
                            .timeline__post
                                .timeline__content
                                    .row.d-flex.align-items-start
                                        .col-2
                                            img.img-fluid(src="assets/images/pages/img11.png", style="max-width: 100%")
                                        .col-10
                                            p
                                                b Minamata, Japón 1932
                                            p La bahía del Minamata hace parte de la ciudad costera del mismo nombre, localizada en la ciudad de Kumamoto, isla de Kyushu de Japón, en la cual operaba la compañía Chisso Corporation, que entre 1932 y 1968 vertieron en esa bahía unas 27 toneladas de compuestos de mercurio, utilizado en la producción de acetaldehído.
                                            p Resultado de ese vertimiento: más de 2.500 personas empezaron a sufrir de un desorden neurológico llamado la Enfermedad de Minamata (Prefectura de Kumamoto, 2019).
                    .timeline__group
                        .timeline__box
                            .timeline__date
                                span.timeline__day 10
                            .timeline__post
                                .timeline__content
                                    .row.d-flex.align-items-start
                                        .col-2
                                            img.img-fluid(src="assets/images/pages/img12.png", style="max-width: 100%")
                                        .col-10
                                            p
                                                b Francia, Inglaterra y Estados Unidos 1849
                                            p Situación de crisis de salud, producida por un cargamento de semillas de trigo que habían sido tratadas con mercurio orgánico como fungicida (Bakir, y otros, 1973).
                                            ul
                                                li.mb-3 Irak 1956. En Irak, las víctimas fueron agricultores y sus familiares. La epidemia pudo afectar a unas 50.000 personas, aunque sólo 6.530 fueron admitidas en hospital como envenenados. 459 muertes en los hospitales fueron atribuidas al envenenamiento por mercurio. 
                                                li.mb-3 Guatemala 1963. En Guatemala, fueron reportadas 45 personas afectadas, y 20 muertos. Inicialmente fueron considerados como pacientes con encefalitis, posteriormente se determinó que el agente causante fueron las semillas de trigo tratadas con metilmercurio
                                                li Pakistán 1969. Eventos similares a los ocurridos en Irak fueron reportados en Pakistán, las víctimas fueron agricultores y sus familiares.
                    .timeline__group
                        .timeline__box
                            .timeline__date
                                span.timeline__day 11
                            .timeline__post
                                .timeline__content
                                    .row.d-flex.align-items-start
                                        .col-2
                                            img.img-fluid(src="assets/images/pages/img13.png", style="max-width: 100%")
                                        .col-10
                                            p
                                                b Canadá - Grassy Narrows, 1975
                                            p Generación tras generación de la comunidad indígena de Grassy Narrows, han visto su crisis dolorosamente prolongada. Han pasado casi 50 años desde la revelación de que su pescado había sido envenenado por toneladas de mercurio vertido en su sistema fluvial por una fábrica de papel propiedad de Reed Paper Ltd., en la ciudad de Dryden, en el norte de Ontario. 
                                            p Estudios recientes de la científica Donna Mergler, con sede en Montreal, han encontrado pruebas contundentes, de análisis de sangre del cordón umbilical y encuestas comunitarias, que confirman que el daño por mercurio persiste de madres a hijos. Un estudio halló que los niños de Grassy Narrows tienen cuatro veces más probabilidades de sufrir problemas de aprendizaje o trastornos del sistema nervioso si sus madres hubieran consumido pescado regularmente durante sus embarazos (The Globe and Mail, 2019).
                    .timeline__group
                        .timeline__box
                            .timeline__date
                                span.timeline__day 12
                            .timeline__post
                                .timeline__content
                                    .row.d-flex.align-items-start
                                        .col-2
                                            img.img-fluid(src="assets/images/pages/img14.png", style="max-width: 100%")
                                        .col-10
                                            p
                                                b Origen del convenio de Minamata 2001 (PNUMA,2017)
                                            p Situación de crisis de salud, producida por un cargamento de semillas de trigo que habían sido tratadas con mercurio orgánico como fungicida (Bakir, y otros, 1973).
                                            ul
                                                li.mb-3 Entre el 2001 y el 2013 se discutió la necesidad y el marco regulatorio para proteger la salud humana y el medio ambiente de las emisiones antropogénicas y las liberaciones de mercurio y compuestos de mercurio.
                                                li.mb-3
                                                    b El 10 de octubre de 2013
                                                    | , se firmó el convenio de Minamata para cumplir este objetivo.
                                                li
                                                    b 2018
                                                    | . Se aprueba la aplicación del “Convenio de Minamata sobre el mercurio” en Colombia por medio de la Ley 1892 de 2018.
        
        .row.mx-0.bg-white.p-3

            .col-12

                p Para poder apropiarnos de algunas enseñanzas que nos dejan estas historias, a continuación, encuentra una actividad interactiva sobre la historia del mercurio.
        
        .row.mx-0.bg-color1.p-3.d-flex.justify-content-center

            .col-auto

                section
                    a(href="media/actividades/actividad1/story.html" target="_blank").media-link
                        img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p
                                b Actividad 1. 

    br#usos
    
    .subtitulo-guion

        h2 Usos del Mercurio

    .card.mb-0

        .card-body

            .card-text

                .row

                    .col-12

                        p Acabamos de ver algunos 
                            b usos del mercurio 
                            | que fueron surgiendo en la historia de la humanidad, sin embargo, existen otros que exploraremos a continuación, por ello es necesario que realice la actividad de aprendizaje 
                            b Procesos y Productos 
                            | en donde encontrará unas preguntas de identificación de productos y procesos con mercurio añadido.
        
        .row.mx-0.bg-color1.p-3.d-flex.justify-content-center

            .col-auto

                section
                    a(href="media/actividades/actividad2/story.html" target="_blank").media-link
                        img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p
                                b Actividad 2.

        .row.mx-0.bg-color.p-3

            .col-12

                p ¿Qué cree que tienen en común los elementos vistos anteriormente? ¿y qué es diferente?
            
            .col-12.text-center.mt-3

                img.img-fluid(src="assets/images/pages/img5.svg", style="max-width: 100%")
        
        .row.mx-3.bg-white.p-3

            p El mercurio, así como 
                b otros elementos químicos 
                | puede presentarse en diversas formas dependiendo de las alianzas que haga con otros componentes. Es así que estos compuestos de mercurio 
                b le añaden, le restan o le cambian algunas propiedades
                | , facilitando su aparición en diversas aplicaciones.
            p Cuando hablamos del mercurio en su estado 
                b simple o más puro
                | , hablamos de mercurio elemental o metálico, utilizado en los termómetros de vidrio o tradicionales y su símbolo se conoce como 
                b Hg
                | .

        .row.mx-0

            img.img-fluid(src="assets/images/pages/img15.png", style="max-width: 100%")
        
        .row.mx-3.bg-white.p-3

            p También, tenemos el 
                b mercurio orgánico
                | , uno de los compuestos más conocidos dado que se puede encontrar en peces en su forma de metilmercurio como MeHg o [CH3Hg]+
            p Finalmente, el tercer tipo de mercurio es: 
                b el inorgánico 
                | conocido como sales de mercurio y por lo general son cristales o un polvo de color blanco. Lo encontramos en algunas cremas aclaradoras y otros productos como: sulfuro de mercurio (HgS) o el óxido de mercurio (HgO).
        
        .row.mx-0

            img.img-fluid(src="assets/images/pages/img16.png", style="max-width: 100%")