.container#impactos

    .header-ecored
        h1 2. Impactos del mercurio en la salud

    br#efectos

    .subtitulo-guion
        h2 2.1 Efectos del mercurio sobre la salud: fuentes y vías de exposición
    
    .card
        .card-body


            p.mb-3 Algunas de las historias vistas anteriormente, le han permitido conocer diferentes efectos del mercurio sobre la salud humana, en el siguiente vídeo se encuentran los efectos por sistema y los diferenciales en mujeres: 

            .row.my-5.justify-content-center
                .col-12.col-md-10
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/u6ZS9_QEh_Y', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-5 Los efectos que el mercurio puede causar sobre la salud humana dependen de diferentes factores:
        
            ol.mt-3.mb-5(type='a')
                li.mb-3
                    span Tipo de mercurio. 
                li.mb-3
                    span Vía de exposición.
                li.mb-3
                    span Vulnerabilidades de la población.
                li.mb-3 
                    span Concentración del mercurio. 
                
                li.mb-3
                    span Tiempo de exposición.

            .subtitulo-ecored.mb-3
                h3
                    span.number a.
                    span Tipo de mercurio

            hr.border-color-brand-color-secondary

            p.mt-5 La siguiente imagen nos dará mayor detalle de cada uno.

            .row.justify-content-center.my-5
                .col-12.col-md-10.col-lg-8
                    img.img-fluid(src="assets/images/pages/img22.png")


            .subtitulo-ecored.mb-3
                h3
                    span.number b.
                    span Vía de exposición

            hr.border-color-brand-color-secondary

            p.mt-5.mb-6 Para poder comprender las diferentes vías de exposición, analice los siguientes contextos reales.

            .row.mt-7.pt-4
                .col-12.col-md-4
                    .card.bg-brand-color-light
                        .card-body.text-center

                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img15.svg").avatar-img

                            p
                                b Caso 1. Inhalación. 
                                | Los vapores producidos por el mercurio elemental son altamente tóxicos. Miremos una situación de la vida real.

                            section.mt-4
                                a(href="https://www.youtube.com/embed/bZs4zT3RDLE" target="_blank").media-link
                                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                    .media-link-title
                                        p.text-small #[strong Video]. Intoxicación por mercurio

                .col-12.col-md-4.my-6.my-md-0
                    .card.bg-brand-color-light
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img16.svg").avatar-img
                            p
                                b Caso 2. Ingestión. 
                                | Los alimentos que contienen metilmercurio son altamente tóxicos, como por ejemplo el contenido de mercurio en grandes peces.
                            section.mt-4
                                a(href="https://www.youtube.com/embed/ZmpcAV9Ovdw" target="_blank").media-link
                                    img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                                    .media-link-title
                                        p.text-small #[strong Video]. Alta contaminación por mercurio en Amazonía

                .col-12.col-md-4.my-6.my-md-0
                    .card.bg-brand-color-light
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img17.svg").avatar-img
                            p
                                b Caso 3. Contacto. 
                                | Aunque no es muy usual, nos podemos exponer al mercurio por contacto con la piel principalmente de mercurio elemental o mercurio orgánico.


            hr.border-color-brand-color-dark.shadow-sm

            section.shadow-sm.mb-5.p-5
                .row.align-items-center.justify-content-between
                    .col-12.col-md-6
                        p Lectura: 
                            b intoxicación por Mercurio Vinculado con Ciertas Cremas Para la Cara. 
                            | Departamento de Salud Pública Condado de los Ángeles (2014).
                    .col-12.col-md-6
                        section
                            a(href="media/documentos/Anexo_4_Intoxicacion_vinculado_cremas.pdf" target="_blank").media-link
                                img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                                .media-link-title
                                    p.text-small #[strong Anexo]. Intoxicación por mercurio vinculado con ciertas cremas para la cara

            .subtitulo-ecored.mb-3
                h3
                    span.number c.
                    span Vulnerabilidad de la población

            hr.border-color-brand-color-secondary

            p.mt-5 Observe el siguiente vídeo sobre los efectos a la salud de la población sensible o vulnerable, es decir, de niños y madres gestantes: Población vulnerable al mercurio.

            .row.my-5.justify-content-center
                .col-12.col-md-10
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RXgAckoJ3Rc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')


            .subtitulo-ecored.mb-3
                h3
                    span.number d.
                    span Concentración del mercurio

            hr.border-color-brand-color-secondary

            p.mt-5 Cantidad de mercurio al que se expone.

            .subtitulo-ecored.mb-3
                h3
                    span.number e.
                    span Tiempo de exposición

            hr.border-color-brand-color-secondary

            p.my-5 Frecuencia y duración de la exposición en tiempo.

            .row.justify-content-center
                .col-12.col-md-10
                    .table-responsive
                        table.table.table-striped
                            thead.thead-dark
                                tr
                                    td(colspan='3').table3
                                        h3.text-center.mb-0 ¿Cuánto tiempo puede durar en el cuerpo?
                            tbody
                                tr
                                    td.table4
                                        p
                                            b Tipo de mercurio
                                    td.table4
                                        p
                                            b Tiempo de vida media en el cuerpo
                                    td.table4
                                        p
                                            b Tiempo de vida en órganos y tejidos
                                tr
                                    td.table3 Mercurio
                                        p metálico
                                    td.table3 35 a 90 días
                                        p Promedio: 60 días
                                    td.table3 Pulmón: 1.7 días
                                        p.m-0 Riñon: 64 días
                                        p Cerebro: > 1 año
                                tr
                                    td.table4 Metilmercurio
                                    td.table4 110 a 190 días
                                        p Promedio: 120 días
                                    td.table4 Sangre: 70 días
                                        p Cerebro: 120 días


            .subtitulo-guion--dark.mt-5
                h3 ¿Cuánto mercurio absorbemos de esa exposición?

            p.mt-5 Cerremos esta unidad, resumiendo los efectos del mercurio en el cuerpo.

            .row.justify-content-center.my-5
                .col-12.col-md-10
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/jDtMHgT7yv8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .row.justify-content-center.my-5
                .col-12.col-md-10
                    .table-responsive
                        table.table.table-striped
                            thead.thead-dark
                                tr
                                    td(colspan='3').table3.text-center
                                        h3.mb-0 Absorciòn según tipo de mercurio
                            tbody
                                tr
                                    td.table3 
                                        strong Mercurio metálico
                                    td.table3 
                                        p Su absorción es superior al 80%
                                tr
                                    td.table4 
                                        strong Mercurio orgánico
                                    td.table4 
                                        p Su absorción es cerca del 95% ingerido
                                tr
                                    td.table4 
                                        strong Mercurio inorgánico
                                    td.table4 
                                        p.mb-0 Si es consumido menos del 10% es absorbido a través del tracto intestinal y hasta el 40% puede entrar al cuerpo a través del estómago