.container#roles

    .header-ecored
        h1 3. Roles y responsabilidades de las autoridades colombianas

    br#convenio
    
    .card

        .card-body

            .subtitulo-guion

                h2 3.1 Convenio de Minamata y el ciclo de vida del mercurio
    
            p Observe el siguiente video sobre los antecedentes del convenio de Minamata.

            .row.mt-5.justify-content-center
                .col-12.col-md-10
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/tW5CQe9eCzs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-5 Retomando la línea de tiempo que vimos hace poco, recordarás la tragedia de aquella bahía llamada Minamata (Japón); para el 2009 se habían identificado 2.271 víctimas y más de 10.000 afectados por la intoxicación masiva ambiental más grave por metilmercurio en alimentos.
            
            p.my-4 La siguiente imagen nos muestra las víctimas por intoxicación de mercurio.
        
        .row
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img24.png", style="max-width: 100%")
        
        .row.mx-0.bg-color1.p-4
            .col-12
                p
                    i En 1956, en la bahía de Minamata (Japón), dos hermanas, de dos y cinco años, fueron diagnosticadas con los efectos terribles, intratables y estigmatizantes del envenenamiento por mercurio. En los decenios que siguieron, su historia sería contada muchas veces, convirtiéndolas en símbolo de decenas de miles de adultos, niños y neonatos que padecían lo que ahora se conoce como la enfermedad de Minamata.
                p
                    i Lamentablemente, esta es una historia que todavía debemos contar porque, aun cuando han transcurrido varios decenios, son demasiadas las personas que siguen pensando que el mercurio es simplemente un elemento fascinante contenido de manera segura en los termómetros. Son muy pocos los que entienden que es letal e indestructible y que está presente en todo lo que nos rodea, desde la generación de electricidad a partir del carbón hasta en determinados tipos de máscaras y luces fluorescentes.
        
        .row
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img25.png", style="max-width: 100%")
        
        .row.mx-0.bg-color1.p-4
            .col-12
                p
                    i Del mismo modo, son muchos los que no saben que solo una fracción de los 130.000 productos químicos y otras sustancias existentes en el mercado son debidamente evaluados, etiquetados y controlados.
                p
                    i Aún menor es el número de personas que sospechan que artículos tan mundanos como las cajas de pizzas, las bolsas para palomitas de maíz para microondas o los desechos electrónicos contaminan nuestro aire, nuestra tierra, nuestra agua, nuestras cadenas alimentarias y ecosistemas durante generaciones. Las personas siguen demorándose mucho aún en identificar y aceptar esos riesgos para la salud humana y en adoptar medidas para hacerles frente.
                p
                    i Fragmento tomado de: Prólogo del Secretario general de las naciones unidas, Antonio Guterres. Convenio de Minamata sobre el mercurio (PNUMA, 2017).
                p En respuesta a los innumerables casos conocidos y desconocidos sobre intoxicaciones por mercurio, a la significativa carga ambiental causada por este metal pesado, y el riesgo al que se exponen las generaciones presentes y futuras, es emitido en 2013 el Convenio de Minamata como un instrumento legal vinculante para proteger la salud y el medio ambiente de las emisiones y liberaciones provenientes las fuentes antropogénicas de mercurio.
                .row.mx-0.mt-4.aling-items-center
                    .col-2
                        img.img-fluid(src="assets/images/pages/img18.svg", style="max-width: 100%")
                    .col-10
                        p.text_deco1.mb-3
                            b Colombia suscribió el convenio el 10 de octubre de 2013
                        p.mb-0
                            i “Colombia, Ley 1892 de 2018, Por medio de la cual se aprueba el “Convenio de Minamata sobre el Mercurio”, hecho en Kumamoto (Japón) el 10 de octubre de 2013. 11 May, 2018 Núm. 50590”


        .card-body
            
            p.mt-5 Para profundizar sobre este tema te invitamos a ver el video: #[strong Resumen Convenio de Minamata] (Proyecto Planet Gold, 2020)
            
            .row.mt-5.mb-6.justify-content-center
                .col-12.col-md-10
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Ma9johcZ6BY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    br#regulacion
    
    .card
        
        .card-body

            .subtitulo-guion
                
                h2 3.2 Regulación y responsabilidades en Colombia para eliminar el uso del mercurio
            
            p Las políticas que regulan el mercurio en Colombia cubren todo el ciclo de vida de esta sustancia, desde que es importado hasta que finaliza su ciclo como desecho, o sitio contaminado.
            
            h3.text-center.my-5 Ciclo de vida del mercurio

            .row.justify-content-center.my-5
                .col-12.col-md-6
                    img.img-fluid(src="assets/images/pages/img19.svg")

            p.my-5 Conozca cómo funciona este ciclo a través del vídeo: #[strong Historia de la bombilla]

            .row.justify-content-center.my-5
                .col-12.col-md-10
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/7eG-Sobljpk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mx-0
            .col-12.px-0
                img.img-fluid(src="assets/images/pages/img26.png", style="max-width: 100%")


        .card-body

            p.my-5 Como se ha visto, para dar cumplimiento a lo establecido en el Convenio, en cada una de estas etapas, es necesario la intervención del sector público y privado. Aclaremos las responsabilidades de cada uno

            .row.mt-7.pt-4
                .col-12.col-md-6.my-6.my-md-0
                    .card.bg-brand-color-light
                        .card-body

                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img20.svg").avatar-img

                            h3.text-center Responsabilidad del Gobierno

                            ul.mt-3.bg-color-dark
                                li 
                                    span Generar normas que garanticen a las diferentes entidades del estado ejercer mecanismos para establecer requerimientos legales, aspectos técnicos, aspectos ambientales, comerciales, de seguridad y administrativos en la cadena del mercurio desde su distribución hasta su disposición final. 
                                li 
                                    span Promover recursos para investigación en temas relacionados con la sustitución y eliminación del mercurio.  
                .col-12.col-md-6.my-6.my-md-0
                    .card.bg-brand-color-light
                        .card-body
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img21.svg").avatar-img
                            h3.text-center Responsabilidad del privado
                            ul.mt-3.bg-color-dark
                                li 
                                    span Acatar las normas establecidas por los diferentes entes gubernamentales.
                                li 
                                    span Garantizar la sustitución del uso del mercurio en procesos y productos técnica y ambientalmente validadas.

            hr.border-color-brand-color-dark.shadow-sm

            section.p-4.mt-5
                p Para darle mayor información a la legislación sobre el mercurio, la siguiente infografía contiene un resumen de la legislación en Colombia sobre el mercurio, teniendo en cuenta cada uno de los momentos de su ciclo de vida.

                section.mt-3
                    a(href="media/documentos/Anexo_6_Legislacion_sobre_el mercurio.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p.text-small #[strong Anexo]. Legislación sobre el mercurio
            
        section.bg-color.p-5

            .row.align-items-center
                .col
                    p #[strong Nota.] Recuerde validar la vigencia y actualización de la normativa haciendo uso de la base de datos <a href="https://sena-leyex-info.bdigital.sena.edu.co/" target="_blank">Leyes.Info</a> y <a href="http://bdigital.sena.edu.co/login?url=https://sena.ambientalex.info/" target="_blank">ambientalex.info</a> de la (Biblioteca SENA)

                .col-auto  
                    img.img-fluid(src="assets/images/pages/img22.svg", style="max-width:100px")

        .card-body

            section.p-4
                p A continuación, se presentan los productos que se encuentran en proceso de desuso gracias al Convenio de Minamata.

                section.mt-3
                    a(href="media/documentos/Anexo_7_Productos_con_mercurio.pdf" target="_blank").media-link
                        img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                        .media-link-title
                            p.text-small #[strong Anexo.] Productos con mercurio