.container#efectos

    .header-ecored

        h1 4. Efectos del mercurio sobre la salud: fuentes y vías de exposición
    
    .card

        .card-body

            .card-text

                .row.mx-0

                    .col-12

                        p.mb-3 Algunas de las historias vistas anteriormente, le han permitido conocer diferentes efectos del mercurio sobre la salud humana, en el siguiente vídeo se encuentran los efectos por sistema y los diferenciales en mujeres: 

                        p VIDEO Efectos del mercurio en la salud. Comunica (2020).

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/u6ZS9_QEh_Y', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    .card

        .card-body

            .card-text

                .row.mx-0

                    .col-12

                        p Los efectos que el mercurio puede causar sobre la salud humana dependen de diferentes factores:
        
        .row.mx-0.bg-color

            .col-12

                ol
                    li.mb-3
                        b Tipos de mercurio
                        br
                        p La siguiente imagen nos dará mayor detalle de cada uno.

                        .row
                            .col-12.text-center
                                img.img-fluid(src="assets/images/pages/img22.png", style="max-width: 70%")
                    
                    li.mb-3
                        b Vías de exposición
                        br
                        p Para poder comprender las diferentes vías de exposición, analice los siguientes contextos reales.

                        .row.mt-7
                            .col-12.col-md-4.my-6.my-md-0
                                .card.bg-brand-color-light
                                    .card-body.text-center

                                        .avatar.avatar-super.card-avatar.card-avatar-top
                                            img(src="assets/images/pages/img15.svg").avatar-img

                                        p
                                            b Caso 1. Inhalación. 
                                            | Los vapores producidos por el mercurio elemental son altamente tóxicos. Miremos una situación de la vida real.
                            
                            .col-12.col-md-4.my-6.my-md-0
                                .card.bg-brand-color-light
                                    .card-body.text-center

                                        .avatar.avatar-super.card-avatar.card-avatar-top
                                            img(src="assets/images/pages/img16.svg").avatar-img

                                        p
                                            b Caso 2. 
                                            | Ingestión. Los alimentos que contienen metilmercurio son altamente tóxicos, como por ejemplo el contenido de mercurio en grandes peces.
                            
                            .col-12.col-md-4.my-6.my-md-0
                                .card.bg-brand-color-light
                                    .card-body.text-center

                                        .avatar.avatar-super.card-avatar.card-avatar-top
                                            img(src="assets/images/pages/img17.svg").avatar-img

                                        p
                                            b Caso 3. Contacto. 
                                            | Aunque no es muy usual, nos podemos exponer al mercurio por contacto con la piel principalmente de mercurio elemental o mercurio orgánico.

                        .row.align-items-center.bg-color6.mx-0

                            .col-12.col-md-6.mb-3

                                p Lectura: 
                                    b intoxicación por Mercurio Vinculado con Ciertas Cremas Para la Cara. 
                                    | Departamento de Salud Pública Condado de los Ángeles (2014).

                            .col-12.col-md-6.d-flex.justify-content-center

                                section
                                    a(href="media/documentos/Anexo_4_Intoxicacion_vinculado_cremas.pdf" target="_blank").media-link
                                        img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                                        .media-link-title
                                            p
                                                b Anexo 2. 
                                            p Intoxicación por mercurio vinculado con ciertas cremas para la cara
                    
                    li.mb-3
                        b Vulnerabilidad de la población
                        br
                        p Observe el siguiente vídeo sobre los efectos a la salud de la población sensible o vulnerable, es decir, de niños y madres gestantes: Población vulnerable al mercurio.

                        .row
                            .col-12

                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RXgAckoJ3Rc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    
                    li.mb-3
                        b Concentración del mercurio
                        br
                        p Cantidad de mercurio al que se expone.
                    
                    li
                        b Tiempo de exposición
                        br
                        p Frecuencia y duración de la exposición en tiempo.

                        .row
                            .col-12

                                table.table.table-striped
                                    thead.thead-dark
                                        tr
                                            td(colspan='3').table3.text-center
                                                h3 ¿Cuánto tiempo puede durar en el cuerpo?
                                    tbody
                                        tr
                                            td.table4
                                                p
                                                    b Tipo de mercurio
                                            td.table4
                                                p
                                                    b Tiempo de vida media en el cuerpo
                                            td.table4
                                                p
                                                    b Tiempo de vida en órganos y tejidos
                                        tr
                                            td.table3 Mercurio
                                                p metálico
                                            td.table3 35 a 90 días
                                                p Promedio: 60 días
                                            td.table3 Pulmón: 1.7 días
                                                p.m-0 Riñon: 64 días
                                                p Cerebro: > 1 año
                                        tr
                                            td.table4 Metilmercurio
                                            td.table4 110 a 190 días
                                                p Promedio: 120 días
                                            td.table4 Sangre: 70 días
                                                p Cerebro: 120 días

        .row.mx-0

            .col-12.text-center.px-0

                img.img-fluid(src="assets/images/pages/img23.png", style="max-width: 100%")
        
        .row.mx-0.p-3.justify-content-center
            
            .col-6.px-0.mt-4

                table.table.table-striped
                    thead.thead-dark
                        tr
                            td(colspan='3').table3.text-center
                                h3 Absorciòn según tipo de mercurio
                    tbody
                        tr
                            td.table3 Mercurio
                                p metálico
                            td.table3 Su absorción es
                                p superior al 80%
                        tr
                            td.table4 Mercurio
                                p orgánico
                            td.table4 Su absorción es
                                p.mb-0  cerca del 95%
                                p ingerido
                        tr
                            td.table4 Mercurio
                                p inorgánico
                            td.table4 Si es consumido menos
                                p.mb-0 del 10% es absorbido a
                                p.mb-0 través del tracto
                                p.mb-0 intestinal y hasta el
                                p.mb-0 40% puede entrar al
                                p.mb-0 cuerpo a través del
                                p.mb-0 estómago
        
        .row.mx-0

            .col-12.px-0

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/jDtMHgT7yv8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')