.container#introduccion

    .header-ecored

        h1 Introducción

    .row.mx-0
        
        .card

            .card-body

                .card-text

                    .row.mx-0

                        .col-12

                            p Bienvenidos a este itinerario de formación sobre el mercurio, tendremos la oportunidad de identificar nuevos conceptos, fenómenos mundiales y el nivel de responsabilidad que tenemos sobre el mercurio; así mismo, describiremos el comportamiento ambiental de este metal pesado y su transformación en aire, agua y suelo a partir de algunas investigaciones y referentes vigentes.
                            br
                            p Por esto queremos invitarlo a ver el video Historia del sombrerero loco. 
            
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/w4C3GBSYW4M', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')