.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody
                tr
                    td Historia el sombrerero loco
                    td Docx
                    td 
                        a(href="media/documentos/Anexo_1_Historia_el_sombrerero_loco.docx", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Información básica para estudiantes
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_2_Información_basica.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Enseñanzas de historia del mercurio
                    td Docx
                    td 
                        a(href="media/documentos/Anexo_3_Enseñanza_historia_del_mercurio.docx", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Intoxicación por mercurio vinculado con ciertas cremas para la cara
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_4_Intoxicacion_vinculado_cremas.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Corto efectos del mercurio
                    td Video
                    td 
                        a(href="media/documentos/Anexo_5_Corto_efectos_del_mercurio.mp4", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Legislacion sobre el mercurio
                    td Docx
                    td 
                        a(href="media/documentos/Anexo_6_Legislacion_sobre_el_mercurio.docx", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Productos con mercurio añadido
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_7_Productos_con_mercurio.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Procesos y productos con mercurio añadido
                    td Docx
                    td 
                        a(href="media/documentos/Anexo_8_Procesos_y_productos.docx", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Ingestión
                    td Docx
                    td 
                        a(href="media/documentos/Anexo_9_Caso_1_ingestion.docx", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td inhalación
                    td Docx
                    td 
                        a(href="media/documentos/Anexo_10_Caso_2_inhalacion.docx", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Procesos en aire, agua y suelo
                    td Video
                    td 
                        a(href="media/videos/1_Procesos_en_aire_agua_ suelo.mp4", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Efectos en la salud
                    td Video
                    td 
                        a(href="media/videos/2_Efectos_en_la_salud.mp4", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Poblaciones vulnerables
                    td Video
                    td 
                        a(href="media/videos/3_Poblaciones_vulnerables.mp4", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Convenio de minamata
                    td Video
                    td 
                        a(href="media/videos/4_Convenio_de_minamata.mp4", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Historia de la bombilla
                    td Video
                    td 
                        a(href="media/videos/5_Historia_de_la_bombilla.mp4", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Resumen convenio de minamata
                    td Video
                    td 
                        a(href="media/videos/6_Resumen_convenio_de_minamata.mp4", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Efectos del mercurio en la salud animación
                    td Video
                    td 
                        a(href="media/videos/7_Efectos_mercurio_salud_animacion.mp4", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Noticias Uno Colombia. Marzo 26, 2017 Trabajadores de fábrica de bombillos están intoxicados con mercurio.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=bZs4zT3RDLE", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td TeleSur Tv Enero 30, 2018 Revelan alta contaminación por mercurio en pueblo de Amazonía peruana.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=ZmpcAV9Ovdw", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Salud sin daño (2017). Entrada en vigor del Convenio de Minamata.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?time_continue=67&v=ochkmKT7_kQ&feature=emb_logo", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver