include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Agencia de Protección Ambiental de Estados Unidos [EPA]. (19 de Enero de 2017). Información básica sobre el mercurio.", "https://espanol.epa.gov/espanol/informacion-basica-sobre-el-mercurio")

        +referenciaItem("Agencia para la Protección del Medio Ambiente [EPA] (2017). EPA-FDA Advice about Eating Fish and Shellfish [EPA - FDA Consejo Sobre Comer Pescado y Mariscos]", "https://www.epa.gov/fish-tech/epa-fda-advice-about-eating-fish-and-shellfish")

        +referenciaItem("ASTDR (2012). Datos básicos sobre el mercurio. Environmetal Protection Agency.", "https://www.atsdr.cdc.gov/mercury/docs/11-229617-FSpan-508_Efectos_a_laSalud.pdf")

        +referenciaItem("Bakir, F., Damluji, F., Amin-Zaki, L., Murtadha, M.,  Khalidi, A., Al-Rawi, N., Doherty, R. (1973). Methylmercury Poisoning in  Iraq [Envenenamiento con Metilmercurio en Iraq]. Science, Vol 181 Issue 4096 pp 230 241 DOI 10 1126 /science 181  4096 23.", "")

        +referenciaItem("Barioglio, C.F. (2006). Diccionario de las Ciencias Agropecuarias 1a ed. Córdoba: Encuentro Grupo Editor.", "")

        +referenciaItem("Bunge , M. (2004). La Investigación Científica: Su Estrategia y su Filosofía (3ra Ed.). México. Siglo XXI editores, s.a. de c.v.", "")

        +referenciaItem("Combariza, D. (Enero, 2020). Efectos del mercurio en la salud humana. [Presentación PowerPoint]. Proyecto Comunica.", "")

        +referenciaItem("Consejo Superior de la Judicatura, Sala Administrativa. (2010). Constitución Política de Colombia. Centro de Documentación Judicial (CENDOJ). Imprenta Nacional de Colombia.", "")

        +referenciaItem("Convención de las Naciones Unidas contra la Delincuencia Organizada Transnacional. Adaptada por la Asamble General de las Naciones Unidas,  Noviembre 15, 2000.", "https://www.oas.org/csh/spanish/documentos/Convenci%C3%B3n%20de%20Palermo%20_ESP.pdf")

        +referenciaItem("Correa, M. (Enero, 2020). Conceptos básicos sobre el mercurio. [Presentación PowerPoint]. Proyecto Comunica.", "")

        +referenciaItem("Davis, K. (2014). Updated Global Mercury Pollution Viz and Graphics.", "https://geovisualist.com/2014/05/09/updated-global-mercury-pollution-viz-and-graphics/")

        +referenciaItem("Del Valle Mora, E. (2017). La Responsabilidad Extendida del Productor y los programas posconsumo en Colombia. Editorial Universidad del Rosario.", "")

        +referenciaItem("Departamento Administrativo de la Función Pública (2016, 29 Septiembre). Concepto 209251 de 2016 Departamento Administrativo de la Función Pública.", "https://www.funcionpublica.gov.co/eva/gestornormativo/norma_pdf.php?i=78447")

        +referenciaItem("Departamento de Salud Pública Condado de los Ángeles (2014). Intoxicación con mercurio vinculado con ciertas cremas para la cara.", "https://www.publichealth.lacounty.gov")

        +referenciaItem("Domínguez, L. J. (2012). Modelo conceptual del comportamiento del mercurio en la cuenca de la quebrada La Porquera. (Tesis). Bogotá. Colombia.", "")

        +referenciaItem("Dominguez-Majin, LJ (2018). Guía de sustitución de productos con mercurio diferentes a la amalgama dental. Ministerio de Ambiente y Desarrollo Sostenible. Bogotá.", "")

        +referenciaItem("Dominguez-Majin, LJ (2020). Comportamiento del mercurio en el ambiente. [Presentación PowerPoint]. Proyecto Comunica.", "")

        +referenciaItem("Echeverría, M.J. (1931) Revista Médica Hondureña p54 - 60 (París, 13 de julio de 1931.)", "")

        +referenciaItem("Educación Básica. (n.d.). Diccionario Escolar del Español. Editorial Susaeta.", "")

        +referenciaItem("Freeman, A. (1860). Mercurial diseases among hatters. Publicado en Transaction of the Medical Society of New Jersey.", "")

        +referenciaItem("Gestión de Conocimientos para la Minería Artesanal (MAPE) - GECO. (n.d.)  Mercurio.", "http://geco.mineroartesanal.com/tiki-index.php?page=Mercurio")

        +referenciaItem("González, A, R. (2012). Fundamentos de procesos químicos (1ra Ed.). Universidad Nacional de Colombia. Sede Manizales. Facultad de Ingeniería y Arquitectura.", "http://bdigital.unal.edu.co/51518/7/9789587610321.pdf")

        +referenciaItem("IDEAM & Universidad del Rosario. (n.d.). Autoridades Ambientales en Colombia. Observatorio Colombiano de Gobernanza del Agua.", "http://www.ideam.gov.co/web/ocga/autoridades")

        +referenciaItem("Instituto Nacional de Seguridad y Salud en el Trabajo. (n.d.). Límites de Exposición Profesional.", "https://www.insst.es/-/limites-de-exposicion-profesional-lep-")

        +referenciaItem("Jorgensen S. E. (2016). Ecotoxicology and Chemistry Applications in Environmental Management [Aplicaciones de Ecotoxicología y Química en Gestión Ambiental]. CRC Press. Copenhagen University, Denmark. 326 pp.", "")

        +referenciaItem("Junta de Andalucía. (n.d.). OSMAN. Observatorio de Salud y Medio Ambiente de Andalucía. Oxidación.", "https://www.osman.es/diccionario/definicion.php?id=13496")

        +referenciaItem("Khan Academy. (n.d.). Cadenas Alimenticias y Redes Tróficas.", "https://es.khanacademy.org/science/high-school-biology/hs-ecology/trophic-levels/a/food-chains-and-food-webs-article")

        +referenciaItem("MedlinePlus. (n.d.). Enciclopedia médica, Ataxia Telangiectasia.", "https://medlineplus.gov/spanish/ency/article/001394.htm")

        +referenciaItem("Ministerio de Ambiente y Desarrollo Sostenible, Centro Nacional de Producción más Limpia y Tecnologías Ambientales y Organización de Naciones Unidas para el Desarrollo Industrial (2017). Preparación Temprana para el Convenio de Minamata sobre el Mercurio (MIA) en la República de Colombia.", "https://www.minambiente.gov.co/images/AsuntosambientalesySectorialyUrbana/pdf/mercurio/Evaluacion_Institucional_MINAMATA.pdf")

        +referenciaItem("Ministerios de Minas y Energía. (Agosto de 2003). Glosario Técnico Minero.  ", "https://www.anm.gov.co/sites/default/DocumentosAnm/glosariominero.pdf")

        +referenciaItem("Newman M. C. (2014). Fundamentals of Ecotoxicology: The Science of Pollution. [Fundamentos de Ecotoxicología: La ciencia de la Contaminación] Fourth Edition. CRC Press. New York. 633 pp.", "")

        +referenciaItem("Organization World Heald. (n.d.). Children’s Exposure to Mercury Compounds. [Exposición de los Niños a Compuestos de Mercurio.].", "https://apps.who.int/iris/bitstream/handle/10665/44445/9789241500456_eng.pdf?sequence=1&isAllowed=y&ua=1")

        +referenciaItem("Paredes, J.E. & Millan J.C. (2019). Riesgos Químicos. Condiciones de Salud por Exposición a Sustancias Químicas (1a Ed.). Bogotá: Ediciones de la U.", "")

        +referenciaItem("Pava, M., Villalba, D.C., Saavedra, F., Carrasco, J.B. & Rodríguez, W.E. (2016). Factores de emisión considerados en la herramienta de cálculo de la huella de carbono corporativa, lineal.", "https://www.acueducto.com.co/wps/html/resources/2018ag/huella_carbono/feb12/18Anexo_17Factores_emision_herramienta_MCV_V6.pdf")

        +referenciaItem("Prefectura de Kumamoto (2019). Primeros conocimientos sobre la enfermedad de Minamata.", "https://www.pref.kumamoto.jp/common/UploadFileOutput.ashx?c_id=3&id=29734&sub_id=1&flid=211279")

        +referenciaItem("Presta, A. (2015). La Compañía del Trajín de Azogues de Potosí. Un capítulo inédito de la financiación de los repartimientos indígenas surandinos al desarrollo de la minería colonial. Boletín del Instituto de Historia Argentina y Americana “Dr. Emilio Ravignani”, Tercera serie, núm. 43, segundo semestre 2015, pp. 31-58.", "")

        +referenciaItem("Programa de las Naciones Unidas para el Medio Ambiente. (2017, Septiembre). Convenio de Minamata sobre el Mercurio. Textos y Anexos.", "http://mercuryconvention.org/Portals/11/documents/Booklets/COP1%20version/Minamata-Convention-booklet-sp-full.pdf")

        +referenciaItem("Real Academia Española. (n.d.). Diccionario del español jurídico.", "https://dej.rae.es/lema/antropog%C3%A9nico-ca")

        +referenciaItem("Rico, M.D. & Santiesteban, M. (1865). Manual de Física y Química (5a Ed.). Madrid. Imprenta de D. Manuel. Minuesa. Calle de Juanelo. núm. 19.", "")

        +referenciaItem("Rico, F.G., López, R., Jaimes, E. (2001). Daños a la Salud por Contaminación Atmosférica. Universidad Autónoma del Estado de México. Toluca, México.", "")

        +referenciaItem("Roldán-Wong, N. (2017). Bioacumulación y biomagnificación de elementos potencialmente tóxicos en el pulpo octopus hubbsorum del puerto minero de Santa Rosalía, Golfo de California (Tesis). Instituto Politécnico Nacional. La Paz, Bolivia.", "")

        +referenciaItem("Royal Society of Chemistry (2020). Mercury.", "https://www.rsc.org/periodic-table/element/80/Mercury")

        +referenciaItem("Severiche, C.A., Castillo, M.E. & Acevedo, R.L. (n.d.). Sólidos Sedimentables. Enciclopedia virtual Eumed – The free dictionary.", "http://www.eumed.net/libros-gratis/2013a/1326/solidos-sedimentables-agua.html")

        +referenciaItem("The Globe and Mail (2019). For Grassy Narrows families, mercury is an intergenerational trauma. For political parties, it’s a federal election issue [Para la familia Grassy Narrows el mercurio es un trauma intergeneracional. Para los partidos políticos, es un problema electoral federal].", "https://www.theglobeandmail.com/canada/article-for-grassy-narrows-families-mercury-is-an-intergenerational-trauma/")

        +referenciaItem("Trujillo, Y. & Correa, M. (2020). Roles y Responsabilidades para las autoridades colombianas en el cumplimiento del Convenio de Minamata. [Presentación PowerPoint]. Proyecto Comunica.", "")

        +referenciaItem("UNEP (2019). Global Mercury Assessment 2018. UN Environment Programme, Chemicals and Health Branch Geneva, Switzerland.", "")

        +referenciaItem("UPME (2014). Estudio de la cadena del mercurio en colombia con énfasis en la actividad minera de oro Tomo 2.", "http://www.upme.gov.co/SeccionMineria_sp/cadena_de_mercurio/Cadena_Mercurio_Tomo_II.pdf")

        +referenciaItem("Vetter,L (2007). El papel de los plateros indígenas en la época colonial temprana del virreinato del Perú.", "http://tesis.pucp.edu.pe/repositorio/bitstream/handle/20.500.12404/5319/VETTER_PARODI_LUISA_PAPEL_PLATEROS_1.pdf?sequence=7&isAllowed=y")

        +referenciaItem("Wankat, P. C. (2008). Ingeniería de procesos de separación (2nd. Ed.). D.R Pearson Educación de México.", "")

        +referenciaItem("West, R. (1949). The mining community in nothern new spain: the parral mining district. Berkeley and los Angeles, Universidad de California Press, 1949 p.54.", "")