include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Promoción de acciones para la mitigación de impactos y eliminación del uso del mercurio
        meta(meta name="description" content="Informacioón del programa Promoción de acciones para la mitigación de impactos y eliminación del uso del mercurio.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Promoción de acciones para la mitigación de impactos y eliminación del uso del mercurio
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Promoción de acciones para la mitigación de impactos y eliminación del uso del mercurio
                                        li 
                                            span #[strong Código:] 220201079
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de Ingreso:] Se requiere que el/a aprendiz tenga acceso a internet y domine el manejo básico de herramientas informáticas y de comunicación virtual: correo electrónico, navegador de internet, y gestores de documentos y presentaciones para la formación virtual. El grado mínimo exigido para ingresar es educación básica secundaria (noveno grado).


                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Ky73iaXuuTA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 En los últimos años, las liberaciones y emisiones de mercurio, causadas por la actividad humana alrededor del mundo, han desencadenado la necesidad de proteger la salud humana y el ambiente de sus efectos nocivos; la exposición al mercurio amenaza la salud humana, con efectos tóxicos, a menudo irreversibles; los fetos en desarrollo y los niños pequeños están en mayor riesgo. La contaminación por mercurio también daña la vida silvestre y los ecosistemas. 

                p Para Colombia, la situación representa un reto aún mayor, teniendo en cuenta que los últimos reportes de emisiones mundiales, ubican al país como el cuarto mayor emisor de mercurio en el mundo, y el primero per cápita. Razón por la cual, Colombia ha desarrollado diferentes mecanismos específicos para mitigar los impactos de esta sustancia, entre los cuales se encuentran: la Ley 1658 del 2013, que prohíbe el uso del mercurio en la minería de oro y en todos los procesos productivos a partir del 2023. Por otro lado, en el 2018 el país ratificó la Convención internacional de Minamata para aunar esfuerzos con otros 117 países y reducir las emisiones de mercurio y sus afectaciones a la salud y al ambiente.

                p En consecuencia, la implementación legislativa de tales acuerdos indican que es deber de cada Nación  la formación, capacitación y sensibilización del público en relación con:

                ol
                    li Los efectos del mercurio; 
                    li Alternativas al mercurio; 
                    li la información científica, técnica, económica y jurídica relativa al mercurio;
                    li los procesos de fabricación en los que se utiliza, emite o libera mercurio; y
                    li Las actividades destinadas a cumplir las obligaciones contraídas en virtud del Convenio de Minamata; 

                p Sin olvidar que, quienes elaboran e implementan políticas en lo público deben reconocer

                ol 
                    li cómo la problemática abordada afecta de manera diferencial a distintas poblaciones, 
                    li las necesidades presentes y 
                    li las posibles respuestas o soluciones. 


                p La gestión de los asuntos públicos demanda la incorporación del enfoque de género, es decir, de un proceso en el que sean valoradas las implicaciones que tiene para los hombres y para las mujeres cualquier acción que se planifique, ya se trate de legislación, políticas o programas, en todas las áreas y en todos los niveles. De manera que las mujeres y los hombres puedan beneficiarse de ellos igualmente y no se perpetúe la desigualdad. 

                p En consideración al panorama presentado: afectaciones mundiales y nacionales, necesidades de formación y capacitación y requerimientos para la evaluación de impactos con enfoque diferencial, el Servicio Nacional de Aprendizaje (SENA), el proyecto de Cooperación Canadiense Comunica y el Programa de las Naciones Unidas para el Desarrollo (PNUD), presentan este curso integral sobre el mercurio con el objetivo de brindar las herramientas cognitivas más apropiadas a cada aprendiz, de manera que pueda desarrollar estrategias territoriales para mitigar los efectos del mercurio en su entorno.
                
                p Este programa complementario permite el desglose de cada parte del ciclo de vida del mercurio desde su producción hasta el manejo de este como desecho, incluyendo sus características químicas, desde una perspectiva toxicológica, ambiental y normativa. 
                
                p Sean ustedes Bienvenidos. 





        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 Los niveles crecientes de mercurio en el ambiente y seres vivos en los últimos años, así como las innumerables tragedias de envenenamiento por este letal e indestructible elemento, hace un llamado a actuar de manera informada y sistemática a cada poblador, organización y mandatario en el mundo entero. 
                
                p Cifras estimadas por Pure Earth en 2013, indicaban que existían 425 sitios en todo el mundo contaminados por mercurio y 10,9 millones de personas en riesgo por estos sitios; años siguientes, otras organizaciones han demostrado su crecimiento: en 2016, Ban Toxics encontró que entre 1,5 y 7 de cada 1.000 niños de poblaciones seleccionadas en Brasil, Canadá, China, Colombia y Groenlandia tenían deterioros cognitivos causados por el consumo de pescado con contenido de mercurio; en 2019, el Programa de las Naciones Unidas para el Medio Ambiente (PNUMA), logra identificar que todas las poblaciones están expuestas a cierta cantidad de mercurio, y hay una gran variabilidad en las exposiciones alrededor del mundo. Los grupos de población en alto riesgo son los pueblos del Ártico, quienes consumen peces y mamíferos marinos; las comunidades de la ribera tropical (especialmente en la cuenca del Amazonas), que consumen peces y en algunos casos pueden estar expuestos a la minería; las costeras o comunidades de islas pequeñas, que dependen sustancialmente de mariscos; y los individuos que trabajan o residen entre sitios de minería de oro artesanales y de pequeña escala.
                
                p Ante este panorama, se hace relevante la formación y la capacitación a la ciudadanía sobre el diseño y ejecución de  estrategias que promuevan acciones para la mitigación de impactos y eliminación del uso del mercurio, considerando el enfoque de género.
                
                p Referencias de apoyo

                ul 
                    li Ban Toxics & CIEL. (2016). La contaminación por mercurio y los derechos humanos. 
                        a(href= "https://www.ciel.org/wp-content/uploads/2016/06/HR_Mercury_SPA-1.pdf", target="_blank") https://www.ciel.org/wp-content/uploads/2016/06/HR_Mercury_SPA-1.pdf 
                    li PNUMA. (2019). Global Mercury Assessment 2018. 
                        a(href= "https://www.unenvironment.org/resources/publication/global-mercury-assessment-2018", target="_blank") https://www.unenvironment.org/resources/publication/global-mercury-assessment-2018
                    li Pure Earth. (2019). Fact Sheet: The Toxic Toll of Mercury – Facts, Figures and the Future of “Dancing Cat Fever” Disease
                        a(href= "https://www.pureearth.org/blog/the-toxic-toll-of-mercury-facts-figures-and-the-future-of-dancing-cat-fever-disease/", target="_blank") https://www.pureearth.org/blog/the-toxic-toll-of-mercury-facts-figures-and-the-future-of-dancing-cat-fever-disease/



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Este programa está dirigido a estudiantes, técnicos, profesionales, autoridades locales, regionales y nacionales, relacionados con recursos naturales, ambiente, salud, minería, residuos peligrosos y políticas públicas, interesados en la prevención, mitigación de los impactos y eliminación del uso del mercurio, especialmente en áreas como la pesca y la minería.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en el utilización de las tecnologías de la información y la comunicación, integradas en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de competencias. 

                p La estrategia didáctica integradora está basada en un estudio de caso, dividido en cuatro fases, el cual traslada al aprendiz a una situación real que le permitirá poner en marcha los contenidos conceptuales y procedimentales, aplicando sus conocimientos y habilidades para resolver un problema, frente a la mitigación de impactos y eliminación/reducción del uso del mercurio.

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el quehacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:



                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El instructor  
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Tutor 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El entorno 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Las TIC

        +creditosFooter("assets/images/logos/senaLogo.svg")





