include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Ruta de aprendizaje
        meta(meta name="description" content="Ruta de aprendizaje programa Promoción de acciones para la mitigación de impactos y eliminación del uso del mercurio.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Promoción de acciones para la mitigación de impactos y eliminación del uso del mercurio
                                h1.curso-titulo Ruta de aprendizaje

                                .brand-line-primary

                                p.curso-descripcion A continuación se presentan las actividades de aprendizaje que debe realizar el aprendiz durante el proceso formativo, estableciendo los tiempos, recursos educativos y evidencias que le permitirán  cumplir con los resultados de aprendizaje definidos para el programa de formación Promoción de acciones para la mitigación de impactos y eliminación del uso del mercurio.
                    

                            .col-12.col-lg-6
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_ruta.svg")           

        section#ruta.curso-resultados.section.bg-base-light.container

            .subtitulo-guion.my-4
                h2 Guía de aprendizaje 1 <br><small class="text-muted letter-spacing-1x font-weight-bold">Duración: 48 horas</small>

            .timeline__wrapper.jumbotron.py-3.px-5

                section#timeline
                    .timeline__item.br--bottom   
                        img(src="assets/images/ruta/inicio.svg", alt="")            
                        p Inicio              
                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 01
                                .title-box #[strong Actividad de aprendizaje:] Representar los impactos del mercurio en la salud humana.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]
                                    
                                    p Caracterizar fuentes naturales y antropogénicas de contaminación por mercurio en su entorno, considerando referencias internacionales.
                                    .tl-hr-divider
                                    p #[strong Material de formación]
                                    
                                    p Fundamentos sobre la contaminación por mercurio.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                    
                                    p #[strong AA1_EV01_Mapa Mental.] Realizar una puesta gráfica donde se evidencien los efectos del mercurio.

                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 02
                                .title-box #[strong Actividad de aprendizaje:] Identificar los niveles de responsabilidad de las autoridades frente a la mitigación del mercurio en el medio ambiente, teniendo en cuenta el convenio de Minamata. 
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]
                                    
                                    p Caracterizar fuentes naturales y antropogénicas de contaminación por mercurio en su entorno, considerando referencias internacionales.
                                    .tl-hr-divider
                                    p #[strong Material de formación]
                                    
                                    p Fundamentos sobre la contaminación por mercurio.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 

                                     p #[strong AA2_EV01_Historieta.] Crear una historieta propia donde se indique cómo llega el mercurio al ser humano y cuáles  entidades intervienen. 

                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 03
                                .title-box #[strong Actividad de aprendizaje:] Analizar los retos que representan los objetivos de desarrollo sostenible y los sitios contaminados en relación con el mercurio.  
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]
                                    
                                    p Caracterizar fuentes naturales y antropogénicas de contaminación por mercurio en su entorno, considerando referencias internacionales.
                                    .tl-hr-divider
                                    p #[strong Material de formación]
                                    
                                    p Responsabilidades hacia el desarrollo sostenible.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 

                                     p #[strong AA3_EV01_Video.] Realizar un video en el que se tenga en cuenta las respuestas del juego de roles, los objetivos del desarrollo sostenible y los conceptos de sitios contaminados. 

                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 04
                                .title-box #[strong Actividad de aprendizaje:] Ilustrar las rutas de atención y tratamiento a intoxicación /contaminación por mercurio.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]
                                    
                                    p Proponer acciones de mitigación/eliminación de los efectos del mercurio teniendo en cuenta el Convenio de Minamata y la dimensión de género y el enfoque diferencial.
                                    .tl-hr-divider
                                    p #[strong Material de formación]
                                    
                                    p Fuentes y efectos del mercurio.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 

                                     p #[strong AA4_EV01_Infográfia.] Representar la ruta de atención y tratamiento para el caso de intoxicación y el derrame por mercurio.

                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 05
                                .title-box #[strong Actividad de aprendizaje:] Evaluar la minería limpia y  convencional, teniendo en cuenta las condiciones políticas, económicas, sociales, tecnológicas, ambientales y de licenciamiento en el país.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]
                                    
                                    p Proponer acciones de mitigación/eliminación de los efectos del mercurio teniendo en cuenta el Convenio de Minamata y la dimensión de género y el enfoque diferencial.
                                    .tl-hr-divider
                                    p #[strong Material de formación]
                                    
                                    p Fuentes y efectos del mercurio.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 

                                     p #[strong AA5_EV01_Cuadro PESTEL.] Elaborar un análisis PESTEL sobre minería con tecnologías limpias Vs minería convencional. 

                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 06
                                .title-box #[strong Actividad de aprendizaje:] Justificar una estrategia de divulgación en su territorio, teniendo en cuenta las necesidades, riesgo y criterios de diversidad y enfoque de género.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]
                                    
                                    p Proponer acciones de mitigación/eliminación de los efectos del mercurio teniendo en cuenta el Convenio de Minamata y la dimensión de género y el enfoque diferencial.
                                    .tl-hr-divider
                                    p #[strong Material de formación]
                                    
                                    p Herramientas para controlar el uso e impactos del mercurio, considerando el enfoque de género y diferencial.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 

                                     p #[strong AA6_EV01_Poster científico de divulgación.] Construir una estrategia para eliminar, reducir el uso o mitigar el impacto del mercurio, teniendo en cuenta los criterios de diversidad y enfoque de género.  

                    .timeline__item.br--top                
                        img(src="assets/images/ruta/certificacion.svg", alt="")    
                        p Certificación        
                    

        +creditosFooter("assets/images/logos/senaLogo.svg")


        script(src="assets/js/vendor.js")
        script(src="assets/js/global.js")        
        script(src="assets/js/pages.js")





